/* a bunch of classes */
:root {
  --playlist-width: 60%;
  --input-width: 10%;
  --column-height: 75vh;
}


div.colored{
    background-color: var(--foreground);
}


/*TODO: make button wrapper to stay bottom right*/

button.bottom-right{
    position: absolute;
    bottom:4vh;
    right:2vw;
}

button.top-right{
  position: absolute;
  top:4vh;
  right:2vw;
}


div.label{
  /*https://medium.com/@kj_schmidt/hover-effects-for-your-scatter-plot-447df80ea116*/
  position: absolute;
  text-align: center;
  padding: .2rem;
  background: #313639;
  color: #f9f9f9;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: .9rem;
}

p.white{
  color:#f9f9f9;
}